body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  --ag-range-selection-border-color: #26a69a;
  --ag-material-primary-color: #47967b;
  --ag-material-accent-color: #80cbc4;
  --ag-selected-row-background-color: #cdffff70;
}

.ag-theme-material {
  font-size: 0.9rem;
}

.ag-theme-material .ag-header-cell-text {
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}
